<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacts</h5></span>
	<div class="cp-contacts">
		<p>mebro Inc. （株式会社 mebro）が運営するブログです。本ブログ、記事依頼、広告（、リクルート、お仕事）に関するお問い合わせは以下よりお願いいたします。</p>
		<p class="sidebar-phone"><i class="fa fa-phone"></i><a href="tel:+81364550980">03-6455-0980</a></p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:info@mebro.co.jp">info@mebro.co.jp</a></p>
	</div>
</section>
<!-- end widget -->